node_modules
tmp
.DS_STORE
.vscode
.Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.
.ipynb_checkpoints
ghostdriver.log

# Distribution / packaging
include/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json
